syntax: glob
*.bin
*.suo
bin/
obj/
*.user
.vs/
*.suo
*_ReSharper*
*.orig
src/SimpleMongoRepo/log/
src/SimpleMongoRepo/bin/
src/SimpleMongoRepo/obj/
CustomTest/log/
CustomTest/bin/
CustomTest/obj/
src/packages/
publish/
Bin/
src/.nuget
