syntax: glob
*.bin
*.suo
bin/
obj/
*.user
.vs/
*.suo
*_ReSharper*
*.orig
src/SimpleMongoRepo/log/
src/SimpleMongoRepo/bin/
src/SimpleMongoRepo/obj/
src/packages/
publish/
Bin/
src/.nuget
src/SimpleMongoRepo/obj/Debug/netstandard1.6/dotnet-compile.rsp
*.rsp
src/SimpleMongoRepo/obj/Debug/netstandard1.6/.IncrementalCache
*.pdb
